.posting {
    margin-bottom: 21px;
}

.topline p {
    font-size: 1.1rem;
    text-align: left;
    margin: 2px;
}

.detailrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
}

.pics {
    max-width: 40%;
}

.parag {
    text-align: left;
    max-width: 60%;
}

.parag p {
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 6px;
    padding-right: 3px;
}

.pic,
.point,
.pic1,
.pic2 {
    max-width: 18%;
    min-width: 140px;
    margin: 6px 9px;
}
