.posting {
    margin-bottom: 24px;
    margin-top: 24px;
}
.topline p {
    font-size: 1.1rem;
    text-align: left;
}

.detailrow {
    padding: 3px;
}
.parag {
    width: 60%;
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 6px;
    padding-right: 3px;
}
.pic,
.point,
img {
    max-height: 150px;
    max-width: 18%;
    min-width: 140px;
    margin: 6px 9px;
}
