#makepost {
    width: 95%;
    margin-top: 4px;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
    padding: 3px 9px 6px 9px;
    border: 2px solid rgb(120, 186, 248);
    border-radius: 18px;
    background-color: white;
    color: black;
}
#makepost h2 {
    text-align: center;
}
#postform {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}
.inputA {
    margin-bottom: 12px;
}
#postform1,
#postform3 {
    width: 29%;
    min-width: 300px;
    padding-left: 20px;
}
#postform2 {
    width: 40%;
    min-width: 300px;
    padding-left: 0;
    margin-left: 0;
}
